<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page 13</title>
    <link rel="stylesheet" href="../src/css/page-13.css">

</head>
<body>
    <section class="main">
        <h1>Create your design</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</p>
        <button>Explore</button>
    </section>
    <section class="images">
        <img class="top" src="../src/storage/img/img-page-13/Image top.png">
        <img class="bottom" src="../src/storage/img/img-page-13/Image bottom.png">
        <img class="star" src="../src/storage/img/img-page-13/star.png">
        <img class="star-2" src="../src/storage/img/img-page-13/Star (1).png">
        <img class="Explosion" src="../src/storage/img/img-page-13/Explosion.png">
        <img class="Party" src="../src/storage/img/img-page-13/Party.png">
        <img class="fondo" src="../src/storage/img/img-page-13/Gradient bg.png">
    </section>
    <section class="second">
        <span class="o1">01</span>
        <span class="o2">02</span>
        <p class="p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus.</p>
        <p class="p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus.</p>


    </section>
</body>
</html>