<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/page-1.css">
    <link rel="stylesheet" href="../src/css/variables.css">

    
    <title>page 1</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="titulo" >Discover the beauty around the world</h1>
            <p class="parrafo" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
            <a class="button" href="#">Explore</a>
        </div>

        <div class="gallery">
            <img src="../src/storage/img/img-page-1/img-1.png" alt="Image 1">
            <img src="../src/storage/img/img-page-1/img-2.png" alt="Image 2">
            <img src="../src/storage/img/img-page-1/img-3.png" alt="Image 3">
            <img src="../src/storage/img/img-page-1/img-4.png" alt="Image 4">
            
        <div class="gallery-2">
            <img src="../src/storage/img/img-page-1/img-5.png" alt="Image 5">
            <img src="../src/storage/img/img-page-1/img-6.png" alt="Image 6">
            <img src="../src/storage/img/img-page-1/img-7.png" alt="Image 7">
            <img src="../src/storage/img/img-page-1/img-8.png" alt="Image 8">
            </div>
        </div>
    </div>
</body>
</html>