<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Hero Section</title>
    <link rel="stylesheet" href="../src/css/page-8.css">
    <link rel="stylesheet" href="../src/css/variables.css">

</head>
<body>
    <div class="container">
        <div class="image-container">
            <div class="circle"></div>
            <img src="../src/storage/img/men.png" alt="Person">
            <div class="dots-1"></div>
            <div class="dots-2"></div>
        </div>
        
        <div class="text-container">
            <h1>Take your designs to the next level</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu.</p>
            <a>Explore</a>
        </div>
    </div>
</body>
</html>
