<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page 12</title>
    <link rel="stylesheet" href="../src/css/page-12.css">
</head>
<body>
    <main>
        <section class="first">
            <h1>Discover. Explore. Inspire.</h1>
            <p class="p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
            <button class="button1">Explore</button>
        </section>

        <section class="photo">
            <img src="../src/storage/img/img-page-12/Image area.png">
        </section>
        <section class="forms">
            <img class="dawn" src="../src/storage/img/img-page-12/Dawn.png">
            <img class="dawn2" src="../src/storage/img/img-page-12/Dawn.png">
            <img class="shape-wave" src="../src/storage/img/img-page-12/shape wave.png">
            <img class="spiral3" src="../src/storage/img/img-page-12/Spiral 3.png">
        </section>
        <section>
            <img class="cara" src="../src/storage/img/img-page-12/Ellipse 2.png">
            <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>


        </section>
    </main>
</body>
</html>