<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page 2</title>
    <link rel="stylesheet" href="../src/css/page-2.css">
    <link rel="stylesheet" href="../src/css/variables.css">
</head>
<body>
    <section class="portada">
        <div class="portada-texto">
            <h1>Discover the beauty around the world</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu.</p>
            <a href="#">Get started</a>
        </div>
        <div class="portada-imagenes">
            <img class="img-1" src="../src/storage/img/img-page-2/landscapes-left.png">
            <img  class="img-2" src="../src/storage/img/img-page-2/landscapes-right.png">
        </div>
    </section>

    <section class="galeria">
        <div class="galeria-img">
            <span>01</span>
            <img src="../src/storage/img/img-page-2/landscapes-1.png">
        </div>
        <div class="galeria-img">
            <span>02</span>
            <img src="../src/storage/img/img-page-2/landscapes-2.png">
        </div>
        <div class="galeria-img">
            <span>03</span>
            <img src="../src/storage/img/img-page-2/landscapes-3.png">
        </div>
    </section>
</body>
</html>