<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eWatch Product</title>
    <link rel="stylesheet" href="../src/css/page-6.css">
    <link rel="stylesheet" href="../src/css/variables.css">

</head>
<body>
    <div class="circle-text">
        <div class="circle-icon">
            <div class="text-circle">
                <span style="--i:0">c</span>
                <span style="--i:1">o</span>
                <span style="--i:2">n</span>
                <span style="--i:3">s</span>
                <span style="--i:4">e</span>
                <span style="--i:5">c</span>
                <span style="--i:6">t</span>
                <span style="--i:7">e</span>
                <span style="--i:8">t</span>
                <span style="--i:9">u</span>
                <span style="--i:10">r</span>
                <span style="--i:11"> </span>
                <span style="--i:12">d</span>
                <span style="--i:13">o</span>
                <span style="--i:14">l</span>
                <span style="--i:15">o</span>
                <span style="--i:16">r</span>
                <span style="--i:17"> </span>
                <span style="--i:18">s</span>
                <span style="--i:19">i</span>
                <span style="--i:20">t</span>
                <span style="--i:21"> </span>
                <span style="--i:22">a</span>
                <span style="--i:23">m</span>
                <span style="--i:24">e</span>
                <span style="--i:25">t</span>
                <span style="--i:26">.</span>
                <img src="../src/storage/img/Icons-watch.png" alt="Clock">
            </div>            
           
        </div>
    </div>
    <div class="container">
        <div class="left-section">
            <h1>THE eWatch with the newest microchip technology</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
            <div class="buttons">
                <button class="btn-black">Order now</button>
                <button class="btn-white">Explore more</button>
            </div>
            <div class="features-box">
                <div class="feature-item">
                    <img src="../src/storage/img/Icons-sun.png" alt="Sun">
                    <p>Lorem ipsum dolor amet</p>
                </div>
                <div class="feature-item">
                    <img src="../src/storage/img/Icons-star.png" alt="Star">
                    <p>Lorem ipsum dolor amet</p>
                </div>
                <div class="feature-item">
                    <img src="../src/storage/img/Icons-eye.png" alt="Eye">
                    <p>Lorem ipsum dolor amet</p>
                </div>
                <div class="feature-item">
                    <img src="../src/storage/img/Icons-world.png" alt="World">
                    <p>Lorem ipsum dolor amet</p>
                </div>
            </div>
        </div>
        
        <div class="right-section">
            <div class="image-container">
                <img src="../src/storage/img/watch.png" alt="eWatch" class="watch">
                
                <!-- Bordes decorativos -->
                <img src="../src/storage/img/Stroke-left.png" alt="left border" class="border-left">
                <img src="../src/storage/img/Stroke-right.png" alt="right border" class="border-right">
        
                <!-- Estrellas decorativas -->
                <img src="../src/storage/img/Star-big.png" alt="big star" class="star-big">
                <img src="../src/storage/img/Star.png" alt="small star" class="star-small">
        
                <!-- Etiquetas -->
                <span class="badge top-right">Award winning product</span>
                <span class="badge bottom-left">Ergonomic design</span>
            </div>
        </div>
        
        </div>
    </div>
</body>
</html>
