body {
    padding: 0;
    margin: 0;
    
}
.header {
    background-color: blue;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: aqua;
}

.titulo {
    background-color: rgb(129, 57, 57);
    font-family: "Avenir-heavy";
    width: 800px;
    text-align: center;
    margin-top: 24px;
    font-size: 64px;

}

.parrafo {
    background-color: white;
    font-family: "Avenir-roman";
    text-align: center;
    width: 600px;
    margin-top: -20px;
    font-size: 26px;
}

.button {
    background-color: yellow;
}

.gallery {
    background-color: red;
}

.galllery-2 {
    background-color: green;
}