body {
    padding: 0;
    margin: 0;
    
}
.header {
    background-color: blue;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: aqua;
}

.titulo {
    background-color: rgb(129, 57, 57);
    font-family: "Avenir-heavy";
    width: 800px;
    text-align: center;
    margin-top: 24px;
    font-size: 64px;

}

.parrafo {
    background-color: white;
    font-family: "Avenir-roman";
    text-align: center;
    width: 600px;
    margin-top: -40px;
    font-size: 26px;
}

.button {
    background-color: black;
    
    color: white;
    padding: 18px 48px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none; 
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 64px;
}

.gallery {
    background-color: red;
    display: flex;  /* Hace que las imágenes se alineen horizontalmente */
    justify-content: center;  /* Centra las imágenes dentro del div */
    gap: 10px;  /* Espaciado entre imágenes */
    padding: 10px;  /* Espaciado interno */
    flex-wrap: wrap;  /
}

.gallery-2 {
    background-color: green;
    display: flex;  /* Hace que las imágenes se alineen horizontalmente */
    justify-content: center;  /* Centra las imágenes dentro del div */
    gap: 10px;  /* Espaciado entre imágenes */
    padding: 10px;  /* Espaciado interno */
    width: 100%;
}

img {
    width: 316px;
    height: 288px;
}