body {
    margin: 0;
    padding: 0;
}

.portada {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
}

.portada-texto {
    width: 50%;
    margin-top: -20px;  
    padding: 10px 10px 20px 1px;
}

.portada-texto h1 {
    font-family: "avenir heavy";
    color: var(--color-2);
    font-size: 50px;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 20px;
}

.portada-texto p {
    font-family: "avenir roman";
    color: var(--color--2);
    font-size: 26px;
    margin-bottom: 40px;
    
}


.portada-texto a {
    background-color: var(--color-2);
    font-family: "avenir roman";
    color: var(--color-4);
    font-size: 18px;
    padding: 16px 32px;
    text-decoration: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;    
}

.portada-imagenes {
    display: flex;
    margin-top: 10px;
    gap: 36px;
    margin-right: 60px;
    
}

.img-1 {
    width: 400px;
    margin-bottom: 152px;
    
}

.img-2 {
    width: 400px;
    margin-top: 152px;
}


.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 46px;
}


.galeria-img {
    width: 382px;
    height: 410px;
    margin-left: 15px;

}


.galeria-img span {
    font-size: 40px;
    font-family: "avenir heavy";
    color: var(--color--3); 
    display: block;
    text-align: left; 
}