
:root{
    
    --color-1: #D9D9D9;
    --color-2: #252525;
    --color-3: #25252580;
    --color-4: #FFFFFF;
    --color-5: #25252525;
    --color-6: #25252580;
    --color-7: #333333;
    --color-9: #111111;
    --color-10: #050505;
    --color-11: #685FD4;
    --color-12: #000000;
    --color-13: #020202;
    --color-14: #00000000;
    --color-15: #00000049;
    --color-16: #25252535;
    --color-17: #FFFFFF50;
    --color-18: #080808;
    --color-19: #9C2004;
    --color-20: #AB2706;
    --color-21: #E5B94B;
    --color-22: #363830;
    --color-23: #C8CCCF;
    --color-24: #97A3A3;
    --color-25: #FFFFFF60;
    --color-26: #BEA7A7;
    --color-27: #232323;
    --color-28: #2F2F2F;
    --color-29: #6BDFDA;
    --color-30: #9AD7F3;
    --color-31: #FEC3C7;
    --color-32: #FFFFFF80;
    --color-33: #4F4F4F;
    --color-34: #F0C3D2;
    --color-35: #25252545;
    --color-36: #EE5E5A;
    --color-37: #B3CFDD;
    --color-38: #DBAF64;
    --color-39: #2C1001;
    --color-40: #2A211C;
    --color-41: #FFDE81;
    --color-42: #49342F;
    --color-43: #FFDD81;
    --color-44: #FFFFFF70;
    --color-45: #FFFFFF65;
    --color-46: #0D261B;
    --color-47: #253538;
    --color-48: #457D61;
    --color-49: #3D45FF;
    --color-50: #3FFFFF;
    --color-51: #52DC4B;
    --color-52: #FF6E3D;
    --color-53: #FFFF67;
    --color-54: #00000080;
    --color-55: #00000015;
    --color-56: #09212C;
    --color-57: #043E49;
    --color-58: #63E1E1;
    --color-59: #FFFFFF44;
    --color-60: #25252570;
    --color-61: #F2F2F2;
    --color-62: #909090;
    --color-63: #352F31;
    --color-64: #363031;
    --color-65: #FFFFFF35;
    --color-66: #363032;
    --color-67: #A36A4F;
    --color-68: #ECDAC4;
    --color-69: #00000020;
    --color-70: #010625;
    --color-71: #01062D;
    --color-72: #0D0F1B;
    --color-73: #100E19;
    --color-74: #E3B635;
    --color-75: #242424;
    --color-76: #FFFDFC;
    --color-77: #FFFDFC53;
    --color-78: #271908;
    --color-79: #D4A476;
    --color-80: #E3C3B6;
    --color-81: #E8D9D6;
    --color-82: #D83517;
    --color-83: #CD292A;
    --color-83: #080C15;
    --color-84: #519BFD;
    --color-85: #00000037;
    --color-86: #3088FF;
    --color-87: #62DBE2;
    --color-88: #6FCF97;
    --color-89: #9B51E0;
    --color-90: #F2C94C;
    --color-91: #F8B3B8;
    --color-92: #00000059;
    --color-93: #00000043;
    --color-94: #122A29;
    --color-95: #FFFFFF15;
    --color-96: #7EB5E1;
    --color-97: #B7923890;
    --color-98: #EFC356;
    --color-99: #EFEEEE;
    --color-100: #F9F9F9;
    --color-101: #685FD435;
    --color-102: #685FD425;
    --color-103: #8AB2DC;
    --color-104: #8AB2DC45;
    --color-105: #8AB2DC35;
    --color-106: #E5E50125;
    --color-107: #F2C94C60;
    --color-108: #F2C94C35;
    --color-109: #FFFFFF45;
    --color-110: #100201;
    --color-111: #5B57EB;
    --color-112: #E7E7E7;
    --color-113: #F8D046;
    --color-114: #FBF4DF;
    --color-115: #C0D9DD;
    --color-116: #F9DEEC;
    --color-117: #FDFEFF;
    --color-118: #FFC671;
    --color-119: #79BBE3;
    --color-120: #D7A94F;
    --color-121: #EFBDD9;
    --color-122: #F4F4F4;
    --color-123: #B88888;
    --color-124: #202020;
    --color-125: #8B6F6F;
    --color-126: #9F4343;
    --color-127: #F1F1F1;
    --color-128: #FEDCDC;
    --color-129: #FFFFFF00;
    --color-130: #00000048;
    --color-131: #A86D6D;
    --color-132: #A88585;
    --color-133: #6975E8;
    --color-134: #F1C2B0;
    --color-135: #F9EB98;
    --color-136: #437223;
    --color-137: #030F0E;
    --color-138: #D6EBDC;
    --color-139: #C6D9E1;
    --color-140: #D2EAF4;
    --color-141: #EECFCD;
    --color-142: #EFC48F;
    --color-143: #000103;
    --color-144: #FAEFE3;
    --color-145: #FCB782;
    --color-146: #EFAF64;
    --color-147: #FE6E06;
    --color-148: #FFFFFF05;
    --color-149: #FFFFFF90;
    --color-150: #FFFFFF25;
    --color-151: #F9D866;
    --color-152: #F9E166;
    --color-153: #33333350;
    --color-154: #00000025;
    --color-155: #00000010;
    --color-156: #181818;
    --color-157: #FFCFAA;
    --color-158: #FFFFFF20;
    --color-159: #06040A;
    --color-160: #E2E7F1;
    --color-161: #ACACDA;
    --color-162: #F8F8F8;
    --color-163: #222327;
    --color-164: #1D1E23;
    --color-165: #FBD542;
    --color-166: #FAD13A;
    --color-167: #EFE5E2;
    --color-168: #F8D696;
    --color-169: #EABF61;
    --color-170: #FCEBC980;
    --color-171: #FFFFFF82;
    --color-172: #BFDAE6;
    --color-173: #F7C067;
    --color-174: #1E5C60;
    --color-175: #429BA9;
    --color-176: #16151B;
    --color-177: #FFFFFF15;
    --color-176: #33333340;
    --color-177: #12141B;
    --color-178: #0C0C0C;
    --color-179: hsl(0, 0%, 50%);


    /*colores sombreados*/
    --color--1: hsl(0, 0%, 25%);
    --color--2: hsl(0, 0%, 50%);
    --color--3: hsl(0, 0%, 75%);
}

@font-face {
    font-family: "Avenir-heavy";
    src: url(../storage/font/Avenir/Avenir-Heavy.ttf);
}

@font-face {
    font-family: "Avenir-roman";
    src: url(../storage/font/Avenir/Avenir-Roman.ttf);
}